---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Profile from '../components/Profile.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='max-w-[720px] mx-auto'>
    <Profile />

    <Skills />

    <Contact />
  </main>
</Layout>
